.projects-section {
    text-align: center;
}

.project {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
    text-align: center;
}

.project img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.project .project-info {
    text-align: left;
}

.project .project-info p {
    margin: 5px 0;
}

.project .project-info .label {
    font-weight: bold;
}

.project .project-info a {
    color: #00509e;
    text-decoration: none;
}

.project .project-info a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .project {
        width: calc(100% - 20px);
    }
}
